extends layout

block content
  h1=title 
  
  ul 
   each item in item_list 
    li 
      a(href=item.url) #{item.name}
      | in #{item.category.name} items 
  
   else 
    li there are no stored items